HOST: http://www.saraiva.com.br/

--- REST API v1 ---
---
Rascunho inicial
---

--
Recursos de Autenticação
A seção a seguir refere-se a recursos relacionados a autenticação
--
POST /{loja}/login
> Content-Type: application/json
{
    "usuario": "afcarv", 
    "senha": "senha"
}
< 200
< Content-Type: application/json
{ "status": "ok", "auth-token": "3dab613a6b212ac31daa12316" }

POST /{loja}/logout
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316"
}
< 200
< Content-Type: application/json
{ "status": "ok" }

--
Recursos de Clientes
A seção a seguir refere-se a recursos relacionados ao cliente
--
Cria um novo cliente
POST /{loja}/clientes
> Content-Type: application/json
{
    "usuario":"afcarv", 
    "senha":"senha",
    "tipo":"PF", 
    "nome":"Anael Ferraz de Carvalho",
    "datanasc": "06/11/1984", 
    "sexo":"M",
    "emailoptin": true,
    "documentos": [
        {
            "nome":"CPF",
            "valor":"00000000010"
        },
        {
            "nome":"RG",
            "valor":"11111111-1"
        }
    ],
    "telefones": [
        {
            "tipo":"celular",
            "ddi":"55",
            "ddd":"19",
            "numero":"93199399",
            "complemento":""
        },
        {
            "tipo":"fixo",
            "ddi":"55",
            "ddd":"19",
            "numero":"33072409",
            "complemento":""
        },
        {
            "tipo":"outros",
            "ddi":"55",
            "ddd":"11",
            "numero":"33072409",
            "complemento":"ramal 3305"
        }
    ],
    "endereco": [
        {
            "tipo":"cobranca",
            "logradouro":"R. Jose Paulino 1711",
            "complemento":"Apto. 64",
            "bairro": "Vila Itapura",
            "cidade": "Campinas",
            "estado": "SP",
            "pais": "Brasil",
            "referencia": "Maternidade",
            "cep":"13023102"
        }
    ]
}
< 201
< Content-Type: application/json
{ "status": "created", "url": "/{loja}/clientes/2" }

Recupera um cliente específico a partir do id
GET /{loja}/clientes/{id}
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
}
< 200
< Content-Type: application/json
{
    "id":2,
    "usuario":"afcarv", 
    "senha":"senha",
    "tipo":"PF", 
    "nome":"Anael Ferraz de Carvalho",
    "datanasc": "06/11/1984", 
    "sexo":"M",
    "emailoptin": true,
    "documentos": [
        {
            "nome":"CPF",
            "valor":"00000000010"
        },
        {
            "nome":"RG",
            "valor":"11111111-1"
        }
    ],
    "telefones": [
        {
            "tipo":"celular",
            "ddi":"55",
            "ddd":"19",
            "numero":"93199399",
            "complemento":""
        },
        {
            "tipo":"fixo",
            "ddi":"55",
            "ddd":"19",
            "numero":"33072409",
            "complemento":""
        },
        {
            "tipo":"outros",
            "ddi":"55",
            "ddd":"11",
            "numero":"33072409",
            "complemento":"ramal 3305"
        }
    ],
    "endereco": [
        {
            "id": 1,
            "tipo":"cobranca",
            "logradouro":"R. Jose Paulino 1711",
            "complemento":"Apto. 64",
            "bairro": "Vila Itapura",
            "cidade": "Campinas",
            "estado": "SP",
            "pais": "Brasil",
            "referencia": "Maternidade",
            "cep":"13023102"
        },
        {
            "id": 2,
            "tipo":"entrega",
            "logradouro":"R. Alves Guimares 518",
            "complemento":"Apto. 41",
            "bairro": "Pinheiros",
            "cidade": "Sao Paulo",
            "estado": "SP",
            "pais": "Brasil",
            "referencia": "Teorodro",
            "cep":"05411000"
        }
    ],
    "cesta": {
        "id": 1,
        "produtos": [
            {
                "id": 31313311,
                "quantidade": 1,
                "precounitario": 19.90,
                "precototal": 19.90
            },
            {
                "id": 133123,
                "quantidade": 2,
                "precounitario": 5.00,
                "precototal": 10.00
            }
        ],
        "frete": {
            "id": 1,
            "nome": "Convencional",
            "preco": 6.34,
            "estimativa": "2 dias"
        },
        "descontos": [],
        "total": 36.24
    }
}

Modifica um cliente específico a partir do id
PUT /{loja}/clientes/{id}
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
    "usuario":"afcarv", 
    "senha":"senha",
    "tipo":"PF", 
    "nome":"Anael Ferraz de Carvalho",
    "datanasc": "06/11/1984", 
    "sexo":"M",
    "emailoptin": true,
    "documentos": [
        {
            "nome":"CPF",
            "valor":"00000000010"
        },
        {
            "nome":"RG",
            "valor":"11111111-1"
        }
    ],
    "telefones": [
        {
            "tipo":"celular",
            "ddi":"55",
            "ddd":"19",
            "numero":"93199399",
            "complemento":""
        },
        {
            "tipo":"fixo",
            "ddi":"55",
            "ddd":"19",
            "numero":"33072409",
            "complemento":""
        },
        {
            "tipo":"outros",
            "ddi":"55",
            "ddd":"11",
            "numero":"33072409",
            "complemento":"ramal 3305"
        }
    ],
    "endereco": [
        {
            "tipo":"cobranca",
            "logradouro":"R. Jose Paulino 1711",
            "complemento":"Apto. 64",
            "bairro": "Vila Itapura",
            "cidade": "Campinas",
            "estado": "SP",
            "pais": "Brasil",
            "referencia": "Maternidade",
            "cep":"13023102"
        }
    ]
}
< 200
< Content-Type: application/json
{ "status": "ok", "url": "/{loja}/clientes/2" }

Deleta um cliente específico a partir do id
DELETE /{loja}/clientes/{id}
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
}
< 200
< Content-Type: application/json
{ "status": "ok" }

--
Recursos de Produtos
A seção a seguir refere-se a recursos relacionados ao produto
Obs: idealmente será um proxy para o SOLR
--
Cria um novo produto
POST /{loja}/produtos
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
    "id": 1,
    "nome": "Inferno - Uma Nova Aventura de Robert Langdon",
    "chamada": "Neste novo e fascinante thriller Dan Brown retoma a mistura magistral de história, arte, códigos e símbolos que o consagrou em O código Da Vinci, Anjos e demônios e O símbolo perdido e faz de Inferno sua aposta mais alta até o momento...",
    "descricao": "No coração da Itália, Robert Langdon, o professor de Simbologia de Harvard, é arrastado para um mundo angustiante centrado em uma das obras literárias mais duradouras e misteriosas da história: O Inferno, de Dante Alighieri.",
    "imagens": [
        {
            "id": "",
            "A": -1,
            "L": 125,
            "Q": 50
        },
        {
            "id": 4886876,
            "A": -1,
            "L": 125,
            "Q": 50
        },
        {
            "id": 4886877,
            "A": -1,
            "L": 125,
            "Q": 50
        }
    ],
    "caracteristicas": {
        "tipo": "livro",
        "editora": {
            "nome": "Arqueiro",
            "id": "3"
        },
        "autores": [
            {
                "nome": "Brown, Dan",
                "id": "4"
            }
        ]
    },
    "atributos": [
        {
            "id": 1,
            "nome": "I.S.B.N",
            "valor": "9788580411522"
        },
        {
            "id": 2,
            "nome": "Cód. Barras",
            "valor": "9788580411522"
        },
        {
            "id": 3,
            "nome": "Reduzido",
            "valor": "4886876"
        },
        {
            "id": 4,
            "nome": "Altura",
            "valor": "23 cm"
        },
        {
            "id": 5,
            "nome": "Largura",
            "valor": "16 cm"
        },
        {
            "id": 6,
            "nome": "Profundidade",
            "valor": "1 cm"
        },
        {
            "id": 7,
            "nome": "Edição",
            "valor": "1 / 2013"
        },
        {
            "id": 8,
            "nome": "País de Origem",
            "valor": "Brasil"
        },
        {
            "id": 9,
            "nome": "Número de Paginas",
            "valor": "448"
        }
    ],
    "skus": {
        "atributos": [
            {
                "id": 10,
                "nome": "Acabamento",
                "valores": [
                    {
                        "id": 1,
                        "valor": "Brochura"
                    },
                    {
                        "id": 2,
                        "valor": "Capa Dura"
                    },
                    {
                        "id": 3,
                        "valor": "Luxo"
                    }
                ]
            },
            {
                "id": 11,
                "nome": "Idioma",
                "valores": [
                    {
                        "id": 4,
                        "valor": "Português"
                    },
                    {
                        "id": 5,
                        "valor": "Inglês"
                    },
                    {
                        "id": 6,
                        "valor": "Espanhol"
                    }
                ]
            }
        ],
        "skus": [
            {
                "id": 1,
                "precos": {
                    "vitrine": 39.90,
                    "oferta": 19.90
                },
                "atributos": [
                    {
                        "id": 10,
                        "idvalor": 1
                    },
                    {
                        "id": 11,
                        "idvalor": 4
                    }
                ]
            },
            {
                "id": 2,
                "precos": {
                    "vitrine": 39.90
                },
                "atributos": [
                    {
                        "id": 10,
                        "idvalor": 2
                    },
                    {
                        "id": 11,
                        "idvalor": 4
                    }
                ]
            },
            {
                "id": 3,
                "precos": {
                    "vitrine": 49.90
                },
                "atributos": [
                    {
                        "id": 10,
                        "idvalor": 3
                    },
                    {
                        "id": 11,
                        "idvalor": 4
                    }
                ]
            },
            {
                "id": 4,
                "precos": {
                    "vitrine": 39.90
                },
                "atributos": [
                    {
                        "id": 10,
                        "idvalor": 1
                    },
                    {
                        "id": 11,
                        "idvalor": 5
                    }
                ]
            },
            {
                "id": 4,
                "precos": {
                    "vitrine": 39.90
                },
                "atributos": [
                    {
                        "id": 10,
                        "idvalor": 1
                    },
                    {
                        "id": 11,
                        "idvalor": 6
                    }
                ]
            }
        ]
    }
}
< 201
< Content-Type: application/json
{ "status": "created", "url": "/{loja}/produtos/1" }

Recupera um produto específico a partir do id
GET /{loja}/produtos/{id}
< 200
< Content-Type: application/json
{
    "descricao": "Novo lançamento da Microsoft",
    "estoques": null,
    "nome": "Xbox One",
    "precos": null,
    "prodId": "1",
    "atributos": {
        "atributo": [
            {
                "atributo": {
                    "atribId": "1",
                    "nome": "Altura",
                    "uso": "0"
                },
                "atributovalor": {
                    "atribvalId": "1",
                    "valor": "10 cm"
                }
            },
            {
                "atributo": {
                    "atribId": "2",
                    "nome": "Largura",
                    "uso": "0"
                },
                "atributovalor": {
                    "atribvalId": "3",
                    "valor": "60 cm"
                }
            },
            {
                "atributo": {
                    "atribId": "3",
                    "nome": "Peso",
                    "uso": "0"
                },
                "atributovalor": {
                    "atribvalId": "5",
                    "valor": "0.4 Kg"
                }
            }
        ]
    },
    "categorias": {
        "categoria": {
            "categoria": {
                "categId": "5",
                "categoriapai": {
                    "categoria": {
                        "categId": "4",
                        "categoriapai": {
                            "categoria": {
                                "categId": "1",
                                "nome": "Games"
                            }
                        },
                        "nome": "Xbox"
                    }
                },
                "nome": "Consoles"
            }
        }
    },
    "imagens": {
        "imagem": [
            {
                "imgId": "1",
                "url": "http://images.livrariasaraiva.com.br/imagemnet/imagem.aspx?pro_id=3163320&qld=85&l=120&a=-1"
            },
            {
                "imgId": "2",
                "url": "http://images.livrariasaraiva.com.br/imagem/imagem.dll?L=500&qld=100&A=-1&pro_id=3163320&PIM_Id=1000425442"
            },
            {
                "imgId": "3",
                "url": "http://images.livrariasaraiva.com.br/imagem/imagem.dll?L=500&qld=100&A=-1&pro_id=3163320&PIM_Id=1000397338"
            }
        ]
    },
    "skus": {
        "sku": [
            {
                "sku": {
                    "descricao": "Novo lançamento da Microsoft. Cor preta com 500GB.",
                    "estoques": {
                        "estoque": {
                            "estoqueId": "1",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "quantidade": "100"
                        }
                    },
                    "nome": "Xbox One Preto 500GB",
                    "precos": {
                        "preco": {
                            "preco": "1499.9",
                            "precoId": "1",
                            "precolista": {
                                "descricao": "Preço de - MiniSaraiva",
                                "loja": {
                                    "descricao": "Loja Teste",
                                    "lojaId": "1",
                                    "nome": "MiniSaraiva"
                                },
                                "nome": "Vitrine",
                                "precolistaId": "1"
                            }
                        }
                    },
                    "prodId": "2",
                    "atributos": {
                        "atributo": [
                            {
                                "atributo": {
                                    "atribId": "4",
                                    "nome": "Cor",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "7",
                                    "valor": "Preto"
                                }
                            },
                            {
                                "atributo": {
                                    "atribId": "5",
                                    "nome": "Capacidade",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "11",
                                    "valor": "500 GB"
                                }
                            }
                        ]
                    },
                    "categorias": {
                        "categoria": {
                            "categoria": {
                                "categId": "5",
                                "categoriapai": {
                                    "categoria": {
                                        "categId": "4",
                                        "categoriapai": {
                                            "categoria": {
                                                "categId": "1",
                                                "nome": "Games"
                                            }
                                        },
                                        "nome": "Xbox"
                                    }
                                },
                                "nome": "Consoles"
                            }
                        }
                    },
                    "imagens": null,
                    "skus": null,
                    "sku": "true",
                    "tipo": "2"
                }
            },
            {
                "sku": {
                    "descricao": "Novo lançamento da Microsoft. Cor preta com 1TB.",
                    "estoques": {
                        "estoque": {
                            "estoqueId": "2",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "quantidade": "100"
                        }
                    },
                    "nome": "Xbox One Preto 1 TB",
                    "precos": {
                        "preco": [
                            {
                                "preco": "1899.9",
                                "precoId": "2",
                                "precolista": {
                                    "descricao": "Preço de - MiniSaraiva",
                                    "loja": {
                                        "descricao": "Loja Teste",
                                        "lojaId": "1",
                                        "nome": "MiniSaraiva"
                                    },
                                    "nome": "Vitrine",
                                    "precolistaId": "1"
                                }
                            },
                            {
                                "preco": "1799.9",
                                "precoId": "26",
                                "precolista": {
                                    "descricao": "Preço por - MiniSaraiva",
                                    "loja": {
                                        "descricao": "Loja Teste",
                                        "lojaId": "1",
                                        "nome": "MiniSaraiva"
                                    },
                                    "nome": "Oferta",
                                    "precolistaId": "2"
                                }
                            }
                        ]
                    },
                    "prodId": "3",
                    "atributos": {
                        "atributo": [
                            {
                                "atributo": {
                                    "atribId": "4",
                                    "nome": "Cor",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "7",
                                    "valor": "Preto"
                                }
                            },
                            {
                                "atributo": {
                                    "atribId": "5",
                                    "nome": "Capacidade",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "12",
                                    "valor": "1 TB"
                                }
                            }
                        ]
                    },
                    "categorias": {
                        "categoria": {
                            "categoria": {
                                "categId": "5",
                                "categoriapai": {
                                    "categoria": {
                                        "categId": "4",
                                        "categoriapai": {
                                            "categoria": {
                                                "categId": "1",
                                                "nome": "Games"
                                            }
                                        },
                                        "nome": "Xbox"
                                    }
                                },
                                "nome": "Consoles"
                            }
                        }
                    },
                    "imagens": null,
                    "skus": null,
                    "sku": "true",
                    "tipo": "2"
                }
            },
            {
                "sku": {
                    "descricao": "Novo lançamento da Microsoft. Cor branca com 500 GB.",
                    "estoques": {
                        "estoque": {
                            "estoqueId": "3",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "quantidade": "100"
                        }
                    },
                    "nome": "Xbox One Branco 500 GB",
                    "precos": {
                        "preco": {
                            "preco": "1499.9",
                            "precoId": "3",
                            "precolista": {
                                "descricao": "Preço de - MiniSaraiva",
                                "loja": {
                                    "descricao": "Loja Teste",
                                    "lojaId": "1",
                                    "nome": "MiniSaraiva"
                                },
                                "nome": "Vitrine",
                                "precolistaId": "1"
                            }
                        }
                    },
                    "prodId": "4",
                    "atributos": {
                        "atributo": [
                            {
                                "atributo": {
                                    "atribId": "4",
                                    "nome": "Cor",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "8",
                                    "valor": "Branco"
                                }
                            },
                            {
                                "atributo": {
                                    "atribId": "5",
                                    "nome": "Capacidade",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "11",
                                    "valor": "500 GB"
                                }
                            }
                        ]
                    },
                    "categorias": {
                        "categoria": {
                            "categoria": {
                                "categId": "5",
                                "categoriapai": {
                                    "categoria": {
                                        "categId": "4",
                                        "categoriapai": {
                                            "categoria": {
                                                "categId": "1",
                                                "nome": "Games"
                                            }
                                        },
                                        "nome": "Xbox"
                                    }
                                },
                                "nome": "Consoles"
                            }
                        }
                    },
                    "imagens": null,
                    "skus": null,
                    "sku": "true",
                    "tipo": "2"
                }
            },
            {
                "sku": {
                    "descricao": "Novo lançamento da Microsoft. Cor branca com 1 TB",
                    "estoques": {
                        "estoque": {
                            "estoqueId": "4",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "quantidade": "100"
                        }
                    },
                    "nome": "Xbox One Branco 1 TB",
                    "precos": {
                        "preco": [
                            {
                                "preco": "1899.9",
                                "precoId": "4",
                                "precolista": {
                                    "descricao": "Preço de - MiniSaraiva",
                                    "loja": {
                                        "descricao": "Loja Teste",
                                        "lojaId": "1",
                                        "nome": "MiniSaraiva"
                                    },
                                    "nome": "Vitrine",
                                    "precolistaId": "1"
                                }
                            },
                            {
                                "preco": "1799.9",
                                "precoId": "27",
                                "precolista": {
                                    "descricao": "Preço por - MiniSaraiva",
                                    "loja": {
                                        "descricao": "Loja Teste",
                                        "lojaId": "1",
                                        "nome": "MiniSaraiva"
                                    },
                                    "nome": "Oferta",
                                    "precolistaId": "2"
                                }
                            }
                        ]
                    },
                    "prodId": "5",
                    "atributos": {
                        "atributo": [
                            {
                                "atributo": {
                                    "atribId": "4",
                                    "nome": "Cor",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "8",
                                    "valor": "Branco"
                                }
                            },
                            {
                                "atributo": {
                                    "atribId": "5",
                                    "nome": "Capacidade",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "12",
                                    "valor": "1 TB"
                                }
                            }
                        ]
                    },
                    "categorias": {
                        "categoria": {
                            "categoria": {
                                "categId": "5",
                                "categoriapai": {
                                    "categoria": {
                                        "categId": "4",
                                        "categoriapai": {
                                            "categoria": {
                                                "categId": "1",
                                                "nome": "Games"
                                            }
                                        },
                                        "nome": "Xbox"
                                    }
                                },
                                "nome": "Consoles"
                            }
                        }
                    },
                    "imagens": null,
                    "skus": null,
                    "sku": "true",
                    "tipo": "2"
                }
            }
        ]
    },
    "sku": "false",
    "tipo": "2"
}

Modifica um produto específico a partir do id
PUT /{loja}/produtos/{id}
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
    "id": 1,
    "nome": "Inferno - Uma Nova Aventura de Robert Langdon",
    "chamada": "Neste novo e fascinante thriller Dan Brown retoma a mistura magistral de história, arte, códigos e símbolos que o consagrou em O código Da Vinci, Anjos e demônios e O símbolo perdido e faz de Inferno sua aposta mais alta até o momento...",
    "descricao": "No coração da Itália, Robert Langdon, o professor de Simbologia de Harvard, é arrastado para um mundo angustiante centrado em uma das obras literárias mais duradouras e misteriosas da história: O Inferno, de Dante Alighieri.",
    "imagens": [
        {
            "id": "",
            "A": -1,
            "L": 125,
            "Q": 50
        },
        {
            "id": 4886876,
            "A": -1,
            "L": 125,
            "Q": 50
        },
        {
            "id": 4886877,
            "A": -1,
            "L": 125,
            "Q": 50
        }
    ],
    "caracteristicas": {
        "tipo": "livro",
        "editora": {
            "nome": "Arqueiro",
            "id": "3"
        },
        "autores": [
            {
                "nome": "Brown, Dan",
                "id": "4"
            }
        ]
    },
    "atributos": [
        {
            "id": 1,
            "nome": "I.S.B.N",
            "valor": "9788580411522"
        },
        {
            "id": 2,
            "nome": "Cód. Barras",
            "valor": "9788580411522"
        },
        {
            "id": 3,
            "nome": "Reduzido",
            "valor": "4886876"
        },
        {
            "id": 4,
            "nome": "Altura",
            "valor": "23 cm"
        },
        {
            "id": 5,
            "nome": "Largura",
            "valor": "16 cm"
        },
        {
            "id": 6,
            "nome": "Profundidade",
            "valor": "1 cm"
        },
        {
            "id": 7,
            "nome": "Edição",
            "valor": "1 / 2013"
        },
        {
            "id": 8,
            "nome": "País de Origem",
            "valor": "Brasil"
        },
        {
            "id": 9,
            "nome": "Número de Paginas",
            "valor": "448"
        }
    ],
    "skus": {
        "atributos": [
            {
                "id": 10,
                "nome": "Acabamento",
                "valores": [
                    {
                        "id": 1,
                        "valor": "Brochura"
                    },
                    {
                        "id": 2,
                        "valor": "Capa Dura"
                    },
                    {
                        "id": 3,
                        "valor": "Luxo"
                    }
                ]
            },
            {
                "id": 11,
                "nome": "Idioma",
                "valores": [
                    {
                        "id": 4,
                        "valor": "Português"
                    },
                    {
                        "id": 5,
                        "valor": "Inglês"
                    },
                    {
                        "id": 6,
                        "valor": "Espanhol"
                    }
                ]
            }
        ],
        "skus": [
            {
                "id": 1,
                "precos": {
                    "vitrine": 39.90,
                    "oferta": 19.90
                },
                "atributos": [
                    {
                        "id": 10,
                        "idvalor": 1
                    },
                    {
                        "id": 11,
                        "idvalor": 4
                    }
                ]
            },
            {
                "id": 2,
                "precos": {
                    "vitrine": 39.90
                },
                "atributos": [
                    {
                        "id": 10,
                        "idvalor": 2
                    },
                    {
                        "id": 11,
                        "idvalor": 4
                    }
                ]
            },
            {
                "id": 3,
                "precos": {
                    "vitrine": 49.90
                },
                "atributos": [
                    {
                        "id": 10,
                        "idvalor": 3
                    },
                    {
                        "id": 11,
                        "idvalor": 4
                    }
                ]
            },
            {
                "id": 4,
                "precos": {
                    "vitrine": 39.90
                },
                "atributos": [
                    {
                        "id": 10,
                        "idvalor": 1
                    },
                    {
                        "id": 11,
                        "idvalor": 5
                    }
                ]
            },
            {
                "id": 4,
                "precos": {
                    "vitrine": 39.90
                },
                "atributos": [
                    {
                        "id": 10,
                        "idvalor": 1
                    },
                    {
                        "id": 11,
                        "idvalor": 6
                    }
                ]
            }
        ]
    }
}
< 200
< Content-Type: application/json
{ "status": "ok", "url": "/{loja}/produtos/1" }

Deleta um produto específico a partir do id
DELETE /{loja}/produtos/{id}
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
}
< 200
< Content-Type: application/json
{ "status": "ok" }

--
Recursos de Conteúdo
A seção a seguir refere-se a recursos relacionados a conteúdo
Obs: idealmente será fornecido via um CMS; a definir
--
GET /{loja}/conteudo/{secao}
< 200
< Content-Type: application/json
{
    "id": 1,
    "nome": "Home Page",
    "conteudo": [
        {
            "id": "1acbb4bcd551b312311d2cd",
            "tipo": "banner",
            "alvo": "destaque1",
            "imagem": "/destaques/promocao.jpg",
            "url": "/site/produtos/1231311"
        },
        {
            "id": "2a541bca61dbc61341ad2c2",
            "tipo": "banner",
            "alvo": "destaque2",
            "imagem": "/destaques/promocao2.jpg",
            "url": "/site/hotsite/voltaasaulas"
        },
        {
            "id": "a56135abcaa8313abda6313",
            "tipo": "carrossel",
            "alvo": "ofertas",
            "produtos": [5416341, 1413412, 1414124, 5312351, 6141414]
        },
        {
            "id": "bc13412acd1314bac341311",
            "tipo": "banner",
            "alvo": "viagens",
            "imagem": "/destaques/viagens.jpg",
            "url": "saraivaviagens.com.br"
        },
        {
            "id": "c13123ca6135adca5132b131",
            "tipo": "carrossel",
            "alvo": "lancamentos",
            "produtos": [6413913, 236134, 131471, 141234124, 2313123]
        },
        {
            "id": "d313bad54114bd131123dab3",
            "tipo": "texto",
            "alvo": "social",
            "texto": "Siga-nos online para acompanhar nossas ofertas, assista aos v&iacute;deos mais recentes e compartilhe seus produtos favoritos."
        },
        {
            "id": "a41c51312cb41341265ab1c1",
            "tipo": "html",
            "alvo": "rodape",
            "html": "<div class=\"cartao-saraiva\"><h5 title=\"Cart&atilde;o Saraiva\">Cart&atilde;o Saraiva</h5><a href=\"/cartao-saraiva-2010/?utm_source=site&utm_medium=rodape_site&utm_campaign=cartao_saraiva\" title=\"Cart&atilde;o Saraiva\"><img src=\"/img/rodape-saraiva_cartao-saraiva.jpg\" alt=\"Cart&atilde;o Saraiva\" border=\"0\" /></a></div><div class=\"hist\"><h5 title=\"Nossa histÃ³ria\"><a href=\"/quem-somos#nossa-historia\" title=\"Nossa historia\" style=\"text-decoration:none\">Nossa hist&oacute;ria</a></h5><ul style=\"padding:0; margin-top:6px;\"><li style=\"list-style: none outside none;\"><div class=\"imagem-hist\"><a href=\"/quem-somos/nossa-historia.htm\" title=\"Nossa historia\" style=\"text-decoration:none;\">Nossa hist&oacute;ria</a></div><div class=\"texto-hist\">Conhe&ccedil;a como a Saraiva tornou-se um dos maiores grupos do varejo e editorial do Brasil.</div></li></ul></div></div>"
        }
    ]
}