HOST: http://www.saraiva.com.br/

--- REST API v1 ---
---
Rascunho inicial
---

--
Recursos de Autenticação
A seção a seguir refere-se a recursos relacionados a autenticação
--
POST /login
> Content-Type: application/json
{
    "usuario": "afcarv", 
    "senha": "senha"
}
< 200
< Content-Type: application/json
{ "status": "ok", "auth-token": "3dab613a6b212ac31daa12316" }

POST /logout
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316"
}
< 200
< Content-Type: application/json
{ "status": "ok" }

--
Recursos de Clientes
A seção a seguir refere-se a recursos relacionados ao cliente
--
Recupera um cliente específico a partir do id
GET /cliente/{id}
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
}
< 200
< Content-Type: application/json
{
    "cliId":"1",
    "login":"afcarv", 
    "senha":"senha",
    "email":"anaelfc@myemail.com", 
    "nome":"Anael Ferraz de Carvalho",
    "rg": "000000000", 
    "cpf":"00000000010",
    "emailoptin": true,
    "cestas": {
        "cestaId": "100",
        "cestaitens": {
            "desconto": "0.0",
            "itemId": "150",
            "preco": {
                "preco": "1499.9",
                "precoId": "1",
                "precolista": {
                    "descricao": "Preço de - MiniSaraiva",
                    "loja": {
                        "descricao": "Loja Teste",
                        "lojaId": "1",
                        "nome": "MiniSaraiva"
                    },
                    "nome": "Vitrine",
                    "precolistaId": "1"
                }
            },
            "precototal": "2999.8",
            "produto": {
                "descricao": "Novo lançamento da Microsoft. Cor preta com 500GB.",
                "estoques": {
                    "estoque": {
                        "estoqueId": "1",
                        "loja": {
                            "descricao": "Loja Teste",
                            "lojaId": "1",
                            "nome": "MiniSaraiva"
                        },
                        "quantidade": "100"
                    }
                },
                "nome": "Xbox One Preto 500GB",
                "precos": {
                    "preco": {
                        "preco": "1499.9",
                        "precoId": "1",
                        "precolista": {
                            "descricao": "Preço de - MiniSaraiva",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "nome": "Vitrine",
                            "precolistaId": "1"
                        }
                    }
                },
                "prodId": "2",
                "atributos": {
                    "atributo": [
                        {
                            "atributo": {
                                "atribId": "4",
                                "nome": "Cor",
                                "uso": "1"
                            },
                            "atributovalor": {
                                "atribvalId": "7",
                                "valor": "Preto"
                            }
                        },
                        {
                            "atributo": {
                                "atribId": "5",
                                "nome": "Capacidade",
                                "uso": "1"
                            },
                            "atributovalor": {
                                "atribvalId": "11",
                                "valor": "500 GB"
                            }
                        }
                    ]
                },
                "categorias": {
                    "categoria": {
                        "categoria": {
                            "categId": "5",
                            "categoriaspai": {
                                "categoriapai": {
                                    "categId": "4",
                                    "categoriaspai": {
                                        "categoriapai": {
                                            "categId": "1",
                                            "nome": "Games"
                                        }
                                    },
                                    "nome": "Xbox"
                                }
                            },
                            "nome": "Consoles"
                        }
                    }
                },
                "imagens": null,
                "skus": null,
                "sku": "true",
                "tipo": "2"
            },
            "quantidade": "2"
        },
        "descontos": "0.0",
        "frete": "0.0",
        "status": "A",
        "total": "2999.8",
        "totalitens": "2999.8"
    }
}

Cria um novo cliente
POST /cliente
> Content-Type: application/json
{
    "login":"afcarv", 
    "senha":"senha",
    "email":"anaelfc@myemail.com", 
    "nome":"Anael Ferraz de Carvalho",
    "rg": "000000000", 
    "cpf":"00000000010",
    "emailoptin": true
}
< 201
< Content-Type: application/json
{ "status": "created", "url": "/cliente/1" }

Modifica um cliente específico a partir do id
PUT /cliente
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
    "cliId":"1",
    "login":"afcarv", 
    "senha":"senha",
    "email":"anaelfc@myemail.com", 
    "nome":"Anael Ferraz de Carvalho",
    "rg": "000000000", 
    "cpf":"00000000010",
    "emailoptin": true
}
< 200
< Content-Type: application/json
{ "status": "ok" }

Deleta um cliente específico a partir do id
DELETE /cliente/{id}
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
}
< 200
< Content-Type: application/json
{ "status": "ok" }

--
Recursos de Produtos
A seção a seguir refere-se a recursos relacionados ao produto
Obs: idealmente será um proxy para o SOLR
--
Recupera um produto específico a partir do id
GET /produto/{id}
< 200
< Content-Type: application/json
{
    "descricao": "Novo lançamento da Microsoft",
    "estoques": null,
    "nome": "Xbox One",
    "precos": null,
    "prodId": "1",
    "atributos": {
        "atributo": [
            {
                "atributo": {
                    "atribId": "1",
                    "nome": "Altura",
                    "uso": "0"
                },
                "atributovalor": {
                    "atribvalId": "1",
                    "valor": "10 cm"
                }
            },
            {
                "atributo": {
                    "atribId": "2",
                    "nome": "Largura",
                    "uso": "0"
                },
                "atributovalor": {
                    "atribvalId": "3",
                    "valor": "60 cm"
                }
            },
            {
                "atributo": {
                    "atribId": "3",
                    "nome": "Peso",
                    "uso": "0"
                },
                "atributovalor": {
                    "atribvalId": "5",
                    "valor": "0.4 Kg"
                }
            }
        ]
    },
    "categorias": {
        "categoria": {
            "categoria": {
                "categId": "5",
                "categoriapai": {
                    "categoria": {
                        "categId": "4",
                        "categoriapai": {
                            "categoria": {
                                "categId": "1",
                                "nome": "Games"
                            }
                        },
                        "nome": "Xbox"
                    }
                },
                "nome": "Consoles"
            }
        }
    },
    "imagens": {
        "imagem": [
            {
                "imgId": "1",
                "url": "http://images.livrariasaraiva.com.br/imagemnet/imagem.aspx?pro_id=3163320&qld=85&l=120&a=-1"
            },
            {
                "imgId": "2",
                "url": "http://images.livrariasaraiva.com.br/imagem/imagem.dll?L=500&qld=100&A=-1&pro_id=3163320&PIM_Id=1000425442"
            },
            {
                "imgId": "3",
                "url": "http://images.livrariasaraiva.com.br/imagem/imagem.dll?L=500&qld=100&A=-1&pro_id=3163320&PIM_Id=1000397338"
            }
        ]
    },
    "skus": {
        "sku": [
            {
                "sku": {
                    "descricao": "Novo lançamento da Microsoft. Cor preta com 500GB.",
                    "estoques": {
                        "estoque": {
                            "estoqueId": "1",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "quantidade": "100"
                        }
                    },
                    "nome": "Xbox One Preto 500GB",
                    "precos": {
                        "preco": {
                            "preco": "1499.9",
                            "precoId": "1",
                            "precolista": {
                                "descricao": "Preço de - MiniSaraiva",
                                "loja": {
                                    "descricao": "Loja Teste",
                                    "lojaId": "1",
                                    "nome": "MiniSaraiva"
                                },
                                "nome": "Vitrine",
                                "precolistaId": "1"
                            }
                        }
                    },
                    "prodId": "2",
                    "atributos": {
                        "atributo": [
                            {
                                "atributo": {
                                    "atribId": "4",
                                    "nome": "Cor",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "7",
                                    "valor": "Preto"
                                }
                            },
                            {
                                "atributo": {
                                    "atribId": "5",
                                    "nome": "Capacidade",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "11",
                                    "valor": "500 GB"
                                }
                            }
                        ]
                    },
                    "categorias": {
                        "categoria": {
                            "categoria": {
                                "categId": "5",
                                "categoriapai": {
                                    "categoria": {
                                        "categId": "4",
                                        "categoriapai": {
                                            "categoria": {
                                                "categId": "1",
                                                "nome": "Games"
                                            }
                                        },
                                        "nome": "Xbox"
                                    }
                                },
                                "nome": "Consoles"
                            }
                        }
                    },
                    "imagens": null,
                    "skus": null,
                    "sku": "true",
                    "tipo": "2"
                }
            },
            {
                "sku": {
                    "descricao": "Novo lançamento da Microsoft. Cor preta com 1TB.",
                    "estoques": {
                        "estoque": {
                            "estoqueId": "2",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "quantidade": "100"
                        }
                    },
                    "nome": "Xbox One Preto 1 TB",
                    "precos": {
                        "preco": [
                            {
                                "preco": "1899.9",
                                "precoId": "2",
                                "precolista": {
                                    "descricao": "Preço de - MiniSaraiva",
                                    "loja": {
                                        "descricao": "Loja Teste",
                                        "lojaId": "1",
                                        "nome": "MiniSaraiva"
                                    },
                                    "nome": "Vitrine",
                                    "precolistaId": "1"
                                }
                            },
                            {
                                "preco": "1799.9",
                                "precoId": "26",
                                "precolista": {
                                    "descricao": "Preço por - MiniSaraiva",
                                    "loja": {
                                        "descricao": "Loja Teste",
                                        "lojaId": "1",
                                        "nome": "MiniSaraiva"
                                    },
                                    "nome": "Oferta",
                                    "precolistaId": "2"
                                }
                            }
                        ]
                    },
                    "prodId": "3",
                    "atributos": {
                        "atributo": [
                            {
                                "atributo": {
                                    "atribId": "4",
                                    "nome": "Cor",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "7",
                                    "valor": "Preto"
                                }
                            },
                            {
                                "atributo": {
                                    "atribId": "5",
                                    "nome": "Capacidade",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "12",
                                    "valor": "1 TB"
                                }
                            }
                        ]
                    },
                    "categorias": {
                        "categoria": {
                            "categoria": {
                                "categId": "5",
                                "categoriapai": {
                                    "categoria": {
                                        "categId": "4",
                                        "categoriapai": {
                                            "categoria": {
                                                "categId": "1",
                                                "nome": "Games"
                                            }
                                        },
                                        "nome": "Xbox"
                                    }
                                },
                                "nome": "Consoles"
                            }
                        }
                    },
                    "imagens": null,
                    "skus": null,
                    "sku": "true",
                    "tipo": "2"
                }
            },
            {
                "sku": {
                    "descricao": "Novo lançamento da Microsoft. Cor branca com 500 GB.",
                    "estoques": {
                        "estoque": {
                            "estoqueId": "3",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "quantidade": "100"
                        }
                    },
                    "nome": "Xbox One Branco 500 GB",
                    "precos": {
                        "preco": {
                            "preco": "1499.9",
                            "precoId": "3",
                            "precolista": {
                                "descricao": "Preço de - MiniSaraiva",
                                "loja": {
                                    "descricao": "Loja Teste",
                                    "lojaId": "1",
                                    "nome": "MiniSaraiva"
                                },
                                "nome": "Vitrine",
                                "precolistaId": "1"
                            }
                        }
                    },
                    "prodId": "4",
                    "atributos": {
                        "atributo": [
                            {
                                "atributo": {
                                    "atribId": "4",
                                    "nome": "Cor",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "8",
                                    "valor": "Branco"
                                }
                            },
                            {
                                "atributo": {
                                    "atribId": "5",
                                    "nome": "Capacidade",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "11",
                                    "valor": "500 GB"
                                }
                            }
                        ]
                    },
                    "categorias": {
                        "categoria": {
                            "categoria": {
                                "categId": "5",
                                "categoriapai": {
                                    "categoria": {
                                        "categId": "4",
                                        "categoriapai": {
                                            "categoria": {
                                                "categId": "1",
                                                "nome": "Games"
                                            }
                                        },
                                        "nome": "Xbox"
                                    }
                                },
                                "nome": "Consoles"
                            }
                        }
                    },
                    "imagens": null,
                    "skus": null,
                    "sku": "true",
                    "tipo": "2"
                }
            },
            {
                "sku": {
                    "descricao": "Novo lançamento da Microsoft. Cor branca com 1 TB",
                    "estoques": {
                        "estoque": {
                            "estoqueId": "4",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "quantidade": "100"
                        }
                    },
                    "nome": "Xbox One Branco 1 TB",
                    "precos": {
                        "preco": [
                            {
                                "preco": "1899.9",
                                "precoId": "4",
                                "precolista": {
                                    "descricao": "Preço de - MiniSaraiva",
                                    "loja": {
                                        "descricao": "Loja Teste",
                                        "lojaId": "1",
                                        "nome": "MiniSaraiva"
                                    },
                                    "nome": "Vitrine",
                                    "precolistaId": "1"
                                }
                            },
                            {
                                "preco": "1799.9",
                                "precoId": "27",
                                "precolista": {
                                    "descricao": "Preço por - MiniSaraiva",
                                    "loja": {
                                        "descricao": "Loja Teste",
                                        "lojaId": "1",
                                        "nome": "MiniSaraiva"
                                    },
                                    "nome": "Oferta",
                                    "precolistaId": "2"
                                }
                            }
                        ]
                    },
                    "prodId": "5",
                    "atributos": {
                        "atributo": [
                            {
                                "atributo": {
                                    "atribId": "4",
                                    "nome": "Cor",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "8",
                                    "valor": "Branco"
                                }
                            },
                            {
                                "atributo": {
                                    "atribId": "5",
                                    "nome": "Capacidade",
                                    "uso": "1"
                                },
                                "atributovalor": {
                                    "atribvalId": "12",
                                    "valor": "1 TB"
                                }
                            }
                        ]
                    },
                    "categorias": {
                        "categoria": {
                            "categoria": {
                                "categId": "5",
                                "categoriapai": {
                                    "categoria": {
                                        "categId": "4",
                                        "categoriapai": {
                                            "categoria": {
                                                "categId": "1",
                                                "nome": "Games"
                                            }
                                        },
                                        "nome": "Xbox"
                                    }
                                },
                                "nome": "Consoles"
                            }
                        }
                    },
                    "imagens": null,
                    "skus": null,
                    "sku": "true",
                    "tipo": "2"
                }
            }
        ]
    },
    "sku": "false",
    "tipo": "2"
}

Recupera os preços de um produto específico a partir do id de produto
GET /produto/{id}/precos
< 200
< Content-Type: application/json
{
    "preco": [
        {
            "preco": "1899.9",
            "precoId": "2",
            "precolista": {
                "descricao": "Preço de - MiniSaraiva",
                "loja": {
                    "descricao": "Loja Teste",
                    "lojaId": "1",
                    "nome": "MiniSaraiva"
                },
                "nome": "Vitrine",
                "precolistaId": "1"
            }
        },
        {
            "preco": "1799.9",
            "precoId": "26",
            "precolista": {
                "descricao": "Preço por - MiniSaraiva",
                "loja": {
                    "descricao": "Loja Teste",
                    "lojaId": "1",
                    "nome": "MiniSaraiva"
                },
                "nome": "Oferta",
                "precolistaId": "2"
            }
        }
    ]
}

Recupera um preço específico de um produto a partir do id do preço
GET /produto/{id}/precos/{precoId}
< 200
< Content-Type: application/json
{
    "preco": {
        "preco": "1899.9",
        "precoId": "2",
        "precolista": {
            "descricao": "Preço de - MiniSaraiva",
            "loja": {
                "descricao": "Loja Teste",
                "lojaId": "1",
                "nome": "MiniSaraiva"
            },
            "nome": "Vitrine",
            "precolistaId": "1"
        }
    }
}

Recupera os preços de um produto a partir de uma lista de preços
GET /produto/{id}/precos/listas/{listaId}
< 200
< Content-Type: application/json
{
    "preco": {
        "preco": "1899.9",
        "precoId": "2",
        "precolista": {
            "descricao": "Preço de - MiniSaraiva",
            "loja": {
                "descricao": "Loja Teste",
                "lojaId": "1",
                "nome": "MiniSaraiva"
            },
            "nome": "Vitrine",
            "precolistaId": "1"
        }
    }
}

Recupera informação de estoque de um produto a partir de seu id
GET /produto/{id}/estoque
< 200
< Content-Type: application/json
{
    "estoque": {
        "estoqueId": "2",
        "loja": {
            "descricao": "Loja Teste",
            "lojaId": "1",
            "nome": "MiniSaraiva"
        },
        "quantidade": "100"
    }
}

Cria um novo produto
POST /produto
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
    "nome": "Xbox One",
    "descricao": "Novo lançamento da Microsoft",
    "sku": "false",
    "tipo": "2"
}
< 201
< Content-Type: application/json
{ "status": "created", "url": "/produto/1" }

Modifica um produto específico a partir do id
PUT /produto
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
    "nome": "Xbox One",
    "descricao": "Novo lançamento da Microsoft",
    "sku": "false",
    "tipo": "2"
}
< 200
< Content-Type: application/json
{ "status": "ok" }

Deleta um produto específico a partir do id
DELETE /produto/{id}
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
}
< 200
< Content-Type: application/json
{ "status": "ok" }

--
Recursos de Catálogo
A seção a seguir refere-se a recursos relacionados ao catálogo
--
Recupera a lista de todas as vitrines
GET /vitrine
< 200
< Content-Type: application/json
{
    "vitrine": [
        {
            "categoriatopos": [
                {
                    "categoria": {
                        "categId": "1",
                        "categoriasfilha": {
                            "categoriafilha": {
                                "categId": "4",
                                "categoriasfilha": {
                                    "categoriafilha": {
                                        "categId": "5",
                                        "nome": "Consoles"
                                    }
                                },
                                "nome": "Xbox"
                            }
                        },
                        "nome": "Games"
                    }
                },
                {
                    "categoria": {
                        "categId": "2",
                        "categoriasfilha": {
                            "categoriafilha": {
                                "categId": "6",
                                "categoriasfilha": {
                                    "categoriafilha": {
                                        "categId": "9",
                                        "nome": "Ficção"
                                    }
                                },
                                "nome": "Literatura Estrangeira"
                            }
                        },
                        "nome": "Livros"
                    }
                },
                {
                    "categoria": {
                        "categId": "3",
                        "categoriasfilha": {
                            "categoriafilha": {
                                "categId": "7",
                                "categoriasfilha": {
                                    "categoriafilha": {
                                        "categId": "8",
                                        "nome": "Camisas Polo"
                                    }
                                },
                                "nome": "Masculino"
                            }
                        },
                        "nome": "Vestuário"
                    }
                }
            ],
            "lojas": {
                "loja": {
                    "descricao": "Loja Teste",
                    "lojaId": "1",
                    "nome": "MiniSaraiva"
                }
            },
            "nome": "Vitrine MiniSaraiva",
            "vitrineId": "1"
        },
        {
            "lojas": {
                "loja": {
                    "descricao": "Loja Teste",
                    "lojaId": "2",
                    "nome": "MiniSiciliano"
                }
            },
            "nome": "Vitrine MiniSiciliano",
            "vitrineId": "2"
        },
        {
            "lojas": {
                "loja": {
                    "descricao": "Loja Teste",
                    "lojaId": "3",
                    "nome": "MiniItown"
                }
            },
            "nome": "Vitrine MiniItown",
            "vitrineId": "3"
        }
    ]
}

Recupera uma vitrine específica por id
GET /vitrine/{vitrineId}
< 200
< Content-Type: application/json
{
    "categoriatopos": [
        {
            "categoria": {
                "categId": "1",
                "categoriasfilha": {
                    "categoriafilha": {
                        "categId": "4",
                        "categoriasfilha": {
                            "categoriafilha": {
                                "categId": "5",
                                "nome": "Consoles"
                            }
                        },
                        "nome": "Xbox"
                    }
                },
                "nome": "Games"
            }
        },
        {
            "categoria": {
                "categId": "2",
                "categoriasfilha": {
                    "categoriafilha": {
                        "categId": "6",
                        "categoriasfilha": {
                            "categoriafilha": {
                                "categId": "9",
                                "nome": "Ficção"
                            }
                        },
                        "nome": "Literatura Estrangeira"
                    }
                },
                "nome": "Livros"
            }
        },
        {
            "categoria": {
                "categId": "3",
                "categoriasfilha": {
                    "categoriafilha": {
                        "categId": "7",
                        "categoriasfilha": {
                            "categoriafilha": {
                                "categId": "8",
                                "nome": "Camisas Polo"
                            }
                        },
                        "nome": "Masculino"
                    }
                },
                "nome": "Vestuário"
            }
        }
    ],
    "lojas": {
        "loja": {
            "descricao": "Loja Teste",
            "lojaId": "1",
            "nome": "MiniSaraiva"
        }
    },
    "nome": "Vitrine MiniSaraiva",
    "vitrineId": "1"
}

Recupera uma categoria específica por id
GET /categoria/{categoriaId}
< 200
< Content-Type: application/json
{
    "categId": "1",
    "categoriasfilha": {
        "categoriafilha": {
            "categId": "4",
            "categoriasfilha": {
                "categoriafilha": {
                    "categId": "5",
                    "nome": "Consoles"
                }
            },
            "nome": "Xbox"
        }
    },
    "nome": "Games"
}

Recupera os produtos de uma categoria específica
GET /categoria/{categoriaId}/produtos
< 200
< Content-Type: application/json
{
    "produto": [
        {
            "descricao": "Novo lançamento da Microsoft",
            "estoques": null,
            "nome": "Xbox One",
            "precos": null,
            "prodId": "1",
            "atributos": {
                "atributo": [
                    {
                        "atributo": {
                            "atribId": "1",
                            "nome": "Altura",
                            "uso": "0"
                        },
                        "atributovalor": {
                            "atribvalId": "1",
                            "valor": "10 cm"
                        }
                    },
                    {
                        "atributo": {
                            "atribId": "2",
                            "nome": "Largura",
                            "uso": "0"
                        },
                        "atributovalor": {
                            "atribvalId": "3",
                            "valor": "60 cm"
                        }
                    },
                    {
                        "atributo": {
                            "atribId": "3",
                            "nome": "Peso",
                            "uso": "0"
                        },
                        "atributovalor": {
                            "atribvalId": "5",
                            "valor": "0.4 Kg"
                        }
                    }
                ]
            },
            "categorias": {
                "categoria": {
                    "categoria": {
                        "categId": "5",
                        "categoriaspai": {
                            "categoriapai": {
                                "categId": "4",
                                "categoriaspai": {
                                    "categoriapai": {
                                        "categId": "1",
                                        "nome": "Games"
                                    }
                                },
                                "nome": "Xbox"
                            }
                        },
                        "nome": "Consoles"
                    }
                }
            },
            "imagens": {
                "imagem": [
                    {
                        "imgId": "1",
                        "url": "http://images.livrariasaraiva.com.br/imagemnet/imagem.aspx?pro_id=3163320&qld=85&l=120&a=-1"
                    },
                    {
                        "imgId": "2",
                        "url": "http://images.livrariasaraiva.com.br/imagem/imagem.dll?L=500&qld=100&A=-1&pro_id=3163320&PIM_Id=1000425442"
                    },
                    {
                        "imgId": "3",
                        "url": "http://images.livrariasaraiva.com.br/imagem/imagem.dll?L=500&qld=100&A=-1&pro_id=3163320&PIM_Id=1000397338"
                    }
                ]
            },
            "skus": {
                "sku": [
                    {
                        "sku": {
                            "descricao": "Novo lançamento da Microsoft. Cor preta com 500GB.",
                            "estoques": {
                                "estoque": {
                                    "estoqueId": "1",
                                    "loja": {
                                        "descricao": "Loja Teste",
                                        "lojaId": "1",
                                        "nome": "MiniSaraiva"
                                    },
                                    "quantidade": "100"
                                }
                            },
                            "nome": "Xbox One Preto 500GB",
                            "precos": {
                                "preco": {
                                    "preco": "1499.9",
                                    "precoId": "1",
                                    "precolista": {
                                        "descricao": "Preço de - MiniSaraiva",
                                        "loja": {
                                            "descricao": "Loja Teste",
                                            "lojaId": "1",
                                            "nome": "MiniSaraiva"
                                        },
                                        "nome": "Vitrine",
                                        "precolistaId": "1"
                                    }
                                }
                            },
                            "prodId": "2",
                            "atributos": {
                                "atributo": [
                                    {
                                        "atributo": {
                                            "atribId": "4",
                                            "nome": "Cor",
                                            "uso": "1"
                                        },
                                        "atributovalor": {
                                            "atribvalId": "7",
                                            "valor": "Preto"
                                        }
                                    },
                                    {
                                        "atributo": {
                                            "atribId": "5",
                                            "nome": "Capacidade",
                                            "uso": "1"
                                        },
                                        "atributovalor": {
                                            "atribvalId": "11",
                                            "valor": "500 GB"
                                        }
                                    }
                                ]
                            },
                            "categorias": {
                                "categoria": {
                                    "categoria": {
                                        "categId": "5",
                                        "categoriaspai": {
                                            "categoriapai": {
                                                "categId": "4",
                                                "categoriaspai": {
                                                    "categoriapai": {
                                                        "categId": "1",
                                                        "nome": "Games"
                                                    }
                                                },
                                                "nome": "Xbox"
                                            }
                                        },
                                        "nome": "Consoles"
                                    }
                                }
                            },
                            "imagens": null,
                            "skus": null,
                            "sku": "true",
                            "tipo": "2"
                        }
                    },
                    {
                        "sku": {
                            "descricao": "Novo lançamento da Microsoft. Cor preta com 1TB.",
                            "estoques": {
                                "estoque": {
                                    "estoqueId": "2",
                                    "loja": {
                                        "descricao": "Loja Teste",
                                        "lojaId": "1",
                                        "nome": "MiniSaraiva"
                                    },
                                    "quantidade": "100"
                                }
                            },
                            "nome": "Xbox One Preto 1 TB",
                            "precos": {
                                "preco": [
                                    {
                                        "preco": "1899.9",
                                        "precoId": "2",
                                        "precolista": {
                                            "descricao": "Preço de - MiniSaraiva",
                                            "loja": {
                                                "descricao": "Loja Teste",
                                                "lojaId": "1",
                                                "nome": "MiniSaraiva"
                                            },
                                            "nome": "Vitrine",
                                            "precolistaId": "1"
                                        }
                                    },
                                    {
                                        "preco": "1799.9",
                                        "precoId": "26",
                                        "precolista": {
                                            "descricao": "Preço por - MiniSaraiva",
                                            "loja": {
                                                "descricao": "Loja Teste",
                                                "lojaId": "1",
                                                "nome": "MiniSaraiva"
                                            },
                                            "nome": "Oferta",
                                            "precolistaId": "2"
                                        }
                                    }
                                ]
                            },
                            "prodId": "3",
                            "atributos": {
                                "atributo": [
                                    {
                                        "atributo": {
                                            "atribId": "4",
                                            "nome": "Cor",
                                            "uso": "1"
                                        },
                                        "atributovalor": {
                                            "atribvalId": "7",
                                            "valor": "Preto"
                                        }
                                    },
                                    {
                                        "atributo": {
                                            "atribId": "5",
                                            "nome": "Capacidade",
                                            "uso": "1"
                                        },
                                        "atributovalor": {
                                            "atribvalId": "12",
                                            "valor": "1 TB"
                                        }
                                    }
                                ]
                            },
                            "categorias": {
                                "categoria": {
                                    "categoria": {
                                        "categId": "5",
                                        "categoriaspai": {
                                            "categoriapai": {
                                                "categId": "4",
                                                "categoriaspai": {
                                                    "categoriapai": {
                                                        "categId": "1",
                                                        "nome": "Games"
                                                    }
                                                },
                                                "nome": "Xbox"
                                            }
                                        },
                                        "nome": "Consoles"
                                    }
                                }
                            },
                            "imagens": null,
                            "skus": null,
                            "sku": "true",
                            "tipo": "2"
                        }
                    },
                    {
                        "sku": {
                            "descricao": "Novo lançamento da Microsoft. Cor branca com 500 GB.",
                            "estoques": {
                                "estoque": {
                                    "estoqueId": "3",
                                    "loja": {
                                        "descricao": "Loja Teste",
                                        "lojaId": "1",
                                        "nome": "MiniSaraiva"
                                    },
                                    "quantidade": "100"
                                }
                            },
                            "nome": "Xbox One Branco 500 GB",
                            "precos": {
                                "preco": {
                                    "preco": "1499.9",
                                    "precoId": "3",
                                    "precolista": {
                                        "descricao": "Preço de - MiniSaraiva",
                                        "loja": {
                                            "descricao": "Loja Teste",
                                            "lojaId": "1",
                                            "nome": "MiniSaraiva"
                                        },
                                        "nome": "Vitrine",
                                        "precolistaId": "1"
                                    }
                                }
                            },
                            "prodId": "4",
                            "atributos": {
                                "atributo": [
                                    {
                                        "atributo": {
                                            "atribId": "4",
                                            "nome": "Cor",
                                            "uso": "1"
                                        },
                                        "atributovalor": {
                                            "atribvalId": "8",
                                            "valor": "Branco"
                                        }
                                    },
                                    {
                                        "atributo": {
                                            "atribId": "5",
                                            "nome": "Capacidade",
                                            "uso": "1"
                                        },
                                        "atributovalor": {
                                            "atribvalId": "11",
                                            "valor": "500 GB"
                                        }
                                    }
                                ]
                            },
                            "categorias": {
                                "categoria": {
                                    "categoria": {
                                        "categId": "5",
                                        "categoriaspai": {
                                            "categoriapai": {
                                                "categId": "4",
                                                "categoriaspai": {
                                                    "categoriapai": {
                                                        "categId": "1",
                                                        "nome": "Games"
                                                    }
                                                },
                                                "nome": "Xbox"
                                            }
                                        },
                                        "nome": "Consoles"
                                    }
                                }
                            },
                            "imagens": null,
                            "skus": null,
                            "sku": "true",
                            "tipo": "2"
                        }
                    },
                    {
                        "sku": {
                            "descricao": "Novo lançamento da Microsoft. Cor branca com 1 TB",
                            "estoques": {
                                "estoque": {
                                    "estoqueId": "4",
                                    "loja": {
                                        "descricao": "Loja Teste",
                                        "lojaId": "1",
                                        "nome": "MiniSaraiva"
                                    },
                                    "quantidade": "100"
                                }
                            },
                            "nome": "Xbox One Branco 1 TB",
                            "precos": {
                                "preco": [
                                    {
                                        "preco": "1899.9",
                                        "precoId": "4",
                                        "precolista": {
                                            "descricao": "Preço de - MiniSaraiva",
                                            "loja": {
                                                "descricao": "Loja Teste",
                                                "lojaId": "1",
                                                "nome": "MiniSaraiva"
                                            },
                                            "nome": "Vitrine",
                                            "precolistaId": "1"
                                        }
                                    },
                                    {
                                        "preco": "1799.9",
                                        "precoId": "27",
                                        "precolista": {
                                            "descricao": "Preço por - MiniSaraiva",
                                            "loja": {
                                                "descricao": "Loja Teste",
                                                "lojaId": "1",
                                                "nome": "MiniSaraiva"
                                            },
                                            "nome": "Oferta",
                                            "precolistaId": "2"
                                        }
                                    }
                                ]
                            },
                            "prodId": "5",
                            "atributos": {
                                "atributo": [
                                    {
                                        "atributo": {
                                            "atribId": "4",
                                            "nome": "Cor",
                                            "uso": "1"
                                        },
                                        "atributovalor": {
                                            "atribvalId": "8",
                                            "valor": "Branco"
                                        }
                                    },
                                    {
                                        "atributo": {
                                            "atribId": "5",
                                            "nome": "Capacidade",
                                            "uso": "1"
                                        },
                                        "atributovalor": {
                                            "atribvalId": "12",
                                            "valor": "1 TB"
                                        }
                                    }
                                ]
                            },
                            "categorias": {
                                "categoria": {
                                    "categoria": {
                                        "categId": "5",
                                        "categoriaspai": {
                                            "categoriapai": {
                                                "categId": "4",
                                                "categoriaspai": {
                                                    "categoriapai": {
                                                        "categId": "1",
                                                        "nome": "Games"
                                                    }
                                                },
                                                "nome": "Xbox"
                                            }
                                        },
                                        "nome": "Consoles"
                                    }
                                }
                            },
                            "imagens": null,
                            "skus": null,
                            "sku": "true",
                            "tipo": "2"
                        }
                    }
                ]
            },
            "sku": "false",
            "tipo": "2"
        },
        {
            "descricao": "Novo lançamento da Microsoft. Cor preta com 500GB.",
            "estoques": {
                "estoque": {
                    "estoqueId": "1",
                    "loja": {
                        "descricao": "Loja Teste",
                        "lojaId": "1",
                        "nome": "MiniSaraiva"
                    },
                    "quantidade": "100"
                }
            },
            "nome": "Xbox One Preto 500GB",
            "precos": {
                "preco": {
                    "preco": "1499.9",
                    "precoId": "1",
                    "precolista": {
                        "descricao": "Preço de - MiniSaraiva",
                        "loja": {
                            "descricao": "Loja Teste",
                            "lojaId": "1",
                            "nome": "MiniSaraiva"
                        },
                        "nome": "Vitrine",
                        "precolistaId": "1"
                    }
                }
            },
            "prodId": "2",
            "atributos": {
                "atributo": [
                    {
                        "atributo": {
                            "atribId": "4",
                            "nome": "Cor",
                            "uso": "1"
                        },
                        "atributovalor": {
                            "atribvalId": "7",
                            "valor": "Preto"
                        }
                    },
                    {
                        "atributo": {
                            "atribId": "5",
                            "nome": "Capacidade",
                            "uso": "1"
                        },
                        "atributovalor": {
                            "atribvalId": "11",
                            "valor": "500 GB"
                        }
                    }
                ]
            },
            "categorias": {
                "categoria": {
                    "categoria": {
                        "categId": "5",
                        "categoriaspai": {
                            "categoriapai": {
                                "categId": "4",
                                "categoriaspai": {
                                    "categoriapai": {
                                        "categId": "1",
                                        "nome": "Games"
                                    }
                                },
                                "nome": "Xbox"
                            }
                        },
                        "nome": "Consoles"
                    }
                }
            },
            "imagens": null,
            "skus": null,
            "sku": "true",
            "tipo": "2"
        },
        {
            "descricao": "Novo lançamento da Microsoft. Cor preta com 1TB.",
            "estoques": {
                "estoque": {
                    "estoqueId": "2",
                    "loja": {
                        "descricao": "Loja Teste",
                        "lojaId": "1",
                        "nome": "MiniSaraiva"
                    },
                    "quantidade": "100"
                }
            },
            "nome": "Xbox One Preto 1 TB",
            "precos": {
                "preco": [
                    {
                        "preco": "1899.9",
                        "precoId": "2",
                        "precolista": {
                            "descricao": "Preço de - MiniSaraiva",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "nome": "Vitrine",
                            "precolistaId": "1"
                        }
                    },
                    {
                        "preco": "1799.9",
                        "precoId": "26",
                        "precolista": {
                            "descricao": "Preço por - MiniSaraiva",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "nome": "Oferta",
                            "precolistaId": "2"
                        }
                    }
                ]
            },
            "prodId": "3",
            "atributos": {
                "atributo": [
                    {
                        "atributo": {
                            "atribId": "4",
                            "nome": "Cor",
                            "uso": "1"
                        },
                        "atributovalor": {
                            "atribvalId": "7",
                            "valor": "Preto"
                        }
                    },
                    {
                        "atributo": {
                            "atribId": "5",
                            "nome": "Capacidade",
                            "uso": "1"
                        },
                        "atributovalor": {
                            "atribvalId": "12",
                            "valor": "1 TB"
                        }
                    }
                ]
            },
            "categorias": {
                "categoria": {
                    "categoria": {
                        "categId": "5",
                        "categoriaspai": {
                            "categoriapai": {
                                "categId": "4",
                                "categoriaspai": {
                                    "categoriapai": {
                                        "categId": "1",
                                        "nome": "Games"
                                    }
                                },
                                "nome": "Xbox"
                            }
                        },
                        "nome": "Consoles"
                    }
                }
            },
            "imagens": null,
            "skus": null,
            "sku": "true",
            "tipo": "2"
        },
        {
            "descricao": "Novo lançamento da Microsoft. Cor branca com 500 GB.",
            "estoques": {
                "estoque": {
                    "estoqueId": "3",
                    "loja": {
                        "descricao": "Loja Teste",
                        "lojaId": "1",
                        "nome": "MiniSaraiva"
                    },
                    "quantidade": "100"
                }
            },
            "nome": "Xbox One Branco 500 GB",
            "precos": {
                "preco": {
                    "preco": "1499.9",
                    "precoId": "3",
                    "precolista": {
                        "descricao": "Preço de - MiniSaraiva",
                        "loja": {
                            "descricao": "Loja Teste",
                            "lojaId": "1",
                            "nome": "MiniSaraiva"
                        },
                        "nome": "Vitrine",
                        "precolistaId": "1"
                    }
                }
            },
            "prodId": "4",
            "atributos": {
                "atributo": [
                    {
                        "atributo": {
                            "atribId": "4",
                            "nome": "Cor",
                            "uso": "1"
                        },
                        "atributovalor": {
                            "atribvalId": "8",
                            "valor": "Branco"
                        }
                    },
                    {
                        "atributo": {
                            "atribId": "5",
                            "nome": "Capacidade",
                            "uso": "1"
                        },
                        "atributovalor": {
                            "atribvalId": "11",
                            "valor": "500 GB"
                        }
                    }
                ]
            },
            "categorias": {
                "categoria": {
                    "categoria": {
                        "categId": "5",
                        "categoriaspai": {
                            "categoriapai": {
                                "categId": "4",
                                "categoriaspai": {
                                    "categoriapai": {
                                        "categId": "1",
                                        "nome": "Games"
                                    }
                                },
                                "nome": "Xbox"
                            }
                        },
                        "nome": "Consoles"
                    }
                }
            },
            "imagens": null,
            "skus": null,
            "sku": "true",
            "tipo": "2"
        },
        {
            "descricao": "Novo lançamento da Microsoft. Cor branca com 1 TB",
            "estoques": {
                "estoque": {
                    "estoqueId": "4",
                    "loja": {
                        "descricao": "Loja Teste",
                        "lojaId": "1",
                        "nome": "MiniSaraiva"
                    },
                    "quantidade": "100"
                }
            },
            "nome": "Xbox One Branco 1 TB",
            "precos": {
                "preco": [
                    {
                        "preco": "1899.9",
                        "precoId": "4",
                        "precolista": {
                            "descricao": "Preço de - MiniSaraiva",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "nome": "Vitrine",
                            "precolistaId": "1"
                        }
                    },
                    {
                        "preco": "1799.9",
                        "precoId": "27",
                        "precolista": {
                            "descricao": "Preço por - MiniSaraiva",
                            "loja": {
                                "descricao": "Loja Teste",
                                "lojaId": "1",
                                "nome": "MiniSaraiva"
                            },
                            "nome": "Oferta",
                            "precolistaId": "2"
                        }
                    }
                ]
            },
            "prodId": "5",
            "atributos": {
                "atributo": [
                    {
                        "atributo": {
                            "atribId": "4",
                            "nome": "Cor",
                            "uso": "1"
                        },
                        "atributovalor": {
                            "atribvalId": "8",
                            "valor": "Branco"
                        }
                    },
                    {
                        "atributo": {
                            "atribId": "5",
                            "nome": "Capacidade",
                            "uso": "1"
                        },
                        "atributovalor": {
                            "atribvalId": "12",
                            "valor": "1 TB"
                        }
                    }
                ]
            },
            "categorias": {
                "categoria": {
                    "categoria": {
                        "categId": "5",
                        "categoriaspai": {
                            "categoriapai": {
                                "categId": "4",
                                "categoriaspai": {
                                    "categoriapai": {
                                        "categId": "1",
                                        "nome": "Games"
                                    }
                                },
                                "nome": "Xbox"
                            }
                        },
                        "nome": "Consoles"
                    }
                }
            },
            "imagens": null,
            "skus": null,
            "sku": "true",
            "tipo": "2"
        }
    ]
}

--
Recursos de Cestas de Compras
A seção a seguir refere-se a recursos relacionados à cesta de compras
--
Recupera um cliente específico a partir do id
GET /cliente/{id}/cesta
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
}
< 200
< Content-Type: application/json
{
    "cestaId": "100",
    "cestaitens": {
        "desconto": "0.0",
        "itemId": "150",
        "preco": {
            "preco": "1499.9",
            "precoId": "1",
            "precolista": {
                "descricao": "Preço de - MiniSaraiva",
                "loja": {
                    "descricao": "Loja Teste",
                    "lojaId": "1",
                    "nome": "MiniSaraiva"
                },
                "nome": "Vitrine",
                "precolistaId": "1"
            }
        },
        "precototal": "2999.8",
        "produto": {
            "descricao": "Novo lançamento da Microsoft. Cor preta com 500GB.",
            "estoques": {
                "estoque": {
                    "estoqueId": "1",
                    "loja": {
                        "descricao": "Loja Teste",
                        "lojaId": "1",
                        "nome": "MiniSaraiva"
                    },
                    "quantidade": "100"
                }
            },
            "nome": "Xbox One Preto 500GB",
            "precos": {
                "preco": {
                    "preco": "1499.9",
                    "precoId": "1",
                    "precolista": {
                        "descricao": "Preço de - MiniSaraiva",
                        "loja": {
                            "descricao": "Loja Teste",
                            "lojaId": "1",
                            "nome": "MiniSaraiva"
                        },
                        "nome": "Vitrine",
                        "precolistaId": "1"
                    }
                }
            },
            "prodId": "2",
            "atributos": {
                "atributo": [
                    {
                        "atributo": {
                            "atribId": "4",
                            "nome": "Cor",
                            "uso": "1"
                        },
                        "atributovalor": {
                            "atribvalId": "7",
                            "valor": "Preto"
                        }
                    },
                    {
                        "atributo": {
                            "atribId": "5",
                            "nome": "Capacidade",
                            "uso": "1"
                        },
                        "atributovalor": {
                            "atribvalId": "11",
                            "valor": "500 GB"
                        }
                    }
                ]
            },
            "categorias": {
                "categoria": {
                    "categoria": {
                        "categId": "5",
                        "categoriaspai": {
                            "categoriapai": {
                                "categId": "4",
                                "categoriaspai": {
                                    "categoriapai": {
                                        "categId": "1",
                                        "nome": "Games"
                                    }
                                },
                                "nome": "Xbox"
                            }
                        },
                        "nome": "Consoles"
                    }
                }
            },
            "imagens": null,
            "skus": null,
            "sku": "true",
            "tipo": "2"
        },
        "quantidade": "2"
    },
    "descontos": "0.0",
    "frete": "0.0",
    "status": "A",
    "total": "2999.8",
    "totalitens": "2999.8"
}

Cria uma nova cesta de compras
POST /cliente/{id}/cesta
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
}
< 200
< Content-Type: application/json
{ "status": "ok" }

Recupera um item de uma cesta de compras a partir do id do item
GET /cliente/{id}/cesta/itens/{itemId}
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
}
< 200
< Content-Type: application/json
{
    "desconto": "0.0",
    "itemId": "150",
    "preco": {
        "preco": "1499.9",
        "precoId": "1",
        "precolista": {
            "descricao": "Preço de - MiniSaraiva",
            "loja": {
                "descricao": "Loja Teste",
                "lojaId": "1",
                "nome": "MiniSaraiva"
            },
            "nome": "Vitrine",
            "precolistaId": "1"
        }
    },
    "precototal": "2999.8",
    "produto": {
        "descricao": "Novo lançamento da Microsoft. Cor preta com 500GB.",
        "estoques": {
            "estoque": {
                "estoqueId": "1",
                "loja": {
                    "descricao": "Loja Teste",
                    "lojaId": "1",
                    "nome": "MiniSaraiva"
                },
                "quantidade": "100"
            }
        },
        "nome": "Xbox One Preto 500GB",
        "precos": {
            "preco": {
                "preco": "1499.9",
                "precoId": "1",
                "precolista": {
                    "descricao": "Preço de - MiniSaraiva",
                    "loja": {
                        "descricao": "Loja Teste",
                        "lojaId": "1",
                        "nome": "MiniSaraiva"
                    },
                    "nome": "Vitrine",
                    "precolistaId": "1"
                }
            }
        },
        "prodId": "2",
        "atributos": {
            "atributo": [
                {
                    "atributo": {
                        "atribId": "4",
                        "nome": "Cor",
                        "uso": "1"
                    },
                    "atributovalor": {
                        "atribvalId": "7",
                        "valor": "Preto"
                    }
                },
                {
                    "atributo": {
                        "atribId": "5",
                        "nome": "Capacidade",
                        "uso": "1"
                    },
                    "atributovalor": {
                        "atribvalId": "11",
                        "valor": "500 GB"
                    }
                }
            ]
        },
        "categorias": {
            "categoria": {
                "categoria": {
                    "categId": "5",
                    "categoriaspai": {
                        "categoriapai": {
                            "categId": "4",
                            "categoriaspai": {
                                "categoriapai": {
                                    "categId": "1",
                                    "nome": "Games"
                                }
                            },
                            "nome": "Xbox"
                        }
                    },
                    "nome": "Consoles"
                }
            }
        },
        "imagens": null,
        "skus": null,
        "sku": "true",
        "tipo": "2"
    },
    "quantidade": "2"
}

Cria um novo item em uma cesta de compras
POST /cliente/{id}/cesta/itens
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
    "cestaiten": {
        "produto": {
            "prodId": "2"
        },
        "quantidade": "2",
        "preco": { 
            "precoId": "1" 
        }
    }
}
< 200
< Content-Type: application/json
{ "status": "ok", "url": "/cliente/1/cesta/itens/1"  }

Deleta um item de uma cesta de compras a partir do id
DELETE /cliente/{id}/cesta/itens/{itemId}
> Content-Type: application/json
{
    "auth-token": "3dab613a6b212ac31daa12316",
}
< 200
< Content-Type: application/json
{ "status": "ok" }

--
Recursos de Conteúdo
A seção a seguir refere-se a recursos relacionados a conteúdo
Obs: idealmente será fornecido via um CMS; a definir
--
GET /{loja}/conteudo/{secao}
< 200
< Content-Type: application/json
{
    "id": 1,
    "nome": "Home Page",
    "conteudo": [
        {
            "id": "1acbb4bcd551b312311d2cd",
            "tipo": "banner",
            "alvo": "destaque1",
            "imagem": "/destaques/promocao.jpg",
            "url": "/site/produtos/1231311"
        },
        {
            "id": "2a541bca61dbc61341ad2c2",
            "tipo": "banner",
            "alvo": "destaque2",
            "imagem": "/destaques/promocao2.jpg",
            "url": "/site/hotsite/voltaasaulas"
        },
        {
            "id": "a56135abcaa8313abda6313",
            "tipo": "carrossel",
            "alvo": "ofertas",
            "produtos": [5416341, 1413412, 1414124, 5312351, 6141414]
        },
        {
            "id": "bc13412acd1314bac341311",
            "tipo": "banner",
            "alvo": "viagens",
            "imagem": "/destaques/viagens.jpg",
            "url": "saraivaviagens.com.br"
        },
        {
            "id": "c13123ca6135adca5132b131",
            "tipo": "carrossel",
            "alvo": "lancamentos",
            "produtos": [6413913, 236134, 131471, 141234124, 2313123]
        },
        {
            "id": "d313bad54114bd131123dab3",
            "tipo": "texto",
            "alvo": "social",
            "texto": "Siga-nos online para acompanhar nossas ofertas, assista aos v&iacute;deos mais recentes e compartilhe seus produtos favoritos."
        },
        {
            "id": "a41c51312cb41341265ab1c1",
            "tipo": "html",
            "alvo": "rodape",
            "html": "<div class=\"cartao-saraiva\"><h5 title=\"Cart&atilde;o Saraiva\">Cart&atilde;o Saraiva</h5><a href=\"/cartao-saraiva-2010/?utm_source=site&utm_medium=rodape_site&utm_campaign=cartao_saraiva\" title=\"Cart&atilde;o Saraiva\"><img src=\"/img/rodape-saraiva_cartao-saraiva.jpg\" alt=\"Cart&atilde;o Saraiva\" border=\"0\" /></a></div><div class=\"hist\"><h5 title=\"Nossa histÃ³ria\"><a href=\"/quem-somos#nossa-historia\" title=\"Nossa historia\" style=\"text-decoration:none\">Nossa hist&oacute;ria</a></h5><ul style=\"padding:0; margin-top:6px;\"><li style=\"list-style: none outside none;\"><div class=\"imagem-hist\"><a href=\"/quem-somos/nossa-historia.htm\" title=\"Nossa historia\" style=\"text-decoration:none;\">Nossa hist&oacute;ria</a></div><div class=\"texto-hist\">Conhe&ccedil;a como a Saraiva tornou-se um dos maiores grupos do varejo e editorial do Brasil.</div></li></ul></div></div>"
        }
    ]
}